html {
    width: 100%;
    height: 100%;
    user-select: none;
    touch-action: none;
}

body {
    background-color: rgb(65, 61, 61);
    overflow: hidden;
    user-select: none;
    touch-action: none;
    width: 100%;
    height: 100%;
}

.board {
    position: absolute;
    height: 50vmin;
    aspect-ratio: 1 / 1;
    user-select: none;
    touch-action: none;
}
.container {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    will-change: transform;
    user-select: none;
    touch-action: none;
}

.box {  
    aspect-ratio: 1/1;
    position: absolute;
    transform-style: preserve-3d;
    user-select: none;
    touch-action: none;
}
  
.face {
    position: absolute;
    aspect-ratio: 1/1;
    backface-visibility: hidden;
    border: 0.1vmin solid black;
    background-color: inherit;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    user-select: none;
    touch-action: none;
}

.slider {  
    aspect-ratio: 1/1;
    position: absolute;
    transform-style: preserve-3d;
    border-color: blue;
    user-select: none;
    touch-action: none;
}

.side {
    width: 0;
    height: 0;
    position: absolute;
    backface-visibility: hidden;
    border: 100px solid transparent;
    border-bottom: 200px solid blue;
    border-top: 0px;
    user-select: none;
    touch-action: none;
}

.button {
    user-select: none;
    touch-action: none;
}

.clicked {
    background-color: green;
}


.explode {
    aspect-ratio: 1/1;
    position: absolute;
    transform-style: preserve-3d;
    user-select: none;
    touch-action: none;
    animation: pop 0.5s forwards;
}

@keyframes pop {
    from {
        left: var(--leftStart);
        top: var(--topStart);
        transform: var(--zStart);
    }
    to {
        left: var(--leftEnd);
        top: var(--topEnd);
        transform: var(--zEnd)
    }
}
